<!DOCTYPE html>
<html mixpanel="156f390e6dc4e753f9a636b8fa238e7d">
<head>
</head>
<body>
  THIS IS IN THE LAYOUT
  
  <%- box.content('/shared/header', {name: 'Jim'}) %>
  <%- box.content() %>
</body>
</html>